.Lore {
  margin-top: 40px;
  p {
    color: black;
  }

  .lore-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .images{
      .img-oak {
        width: 380px;
      }

    }
  }
}
