@charset 'utf-8';
@import 'nes.css/scss/nes.scss';
@import 'fonts';
@import 'reset';
@import 'navBar';

body {
    position: absolute;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}
